// $primarycolor: #05386b;
// $secondarycolor: #edf5e1;

$primarycolor: #e1dddb;
$secondarycolor: #abdff1;
$thirdcolor: #ef6c33;
$black: #0c4a60;
$white: #fafafa;

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btnContainer {
  position: fixed;
  right: 50px;
  top: 10px;
  button {
    border-radius: 10px;
    padding: 10px;
  }
}

//end of globals
.App {
  padding-top: 0;
  min-height: 100vh;
  color: $black;
  background: $primarycolor;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark {
  background-color: $black;
  h1,
  h2 {
    color: $primarycolor;
  }
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__name {
    margin: 0 0 10px;
    color: $thirdcolor;
  }
}

.weatherCard {
  width: 360px;
  background-color: $secondarycolor;
  border: thick, solid, $black;
  border-radius: 10px;
  padding: 0px 50px 5px;

  &__weather {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--image {
      width: 200px;
      height: 200px;
      padding: 0;
    }
    h1 {
      margin: 0;
      padding-bottom: 10px;
    }
    h3 {
      font-style: italic;
      font-weight: 100;
      margin: 0;
    }
  }
}

.darktheme {
  background-color: $secondarycolor;
  & div,
  h1 {
    color: $thirdcolor;
  }
}
